<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Pablo Zoani">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title> Courses </title>
</head>
<body class="">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <a class="navbar-brand " th:href="@{'/'}" href="#"> WebSample </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/'}" href="#"> Home </a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{'/academy'}" href="#"> Academies </a>
                    </li>
                    <li>
                        <a class="nav-link active" th:href="@{'/course'}" href="#"> Courses </a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{'/instructor'}" href="#"> Instructors </a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{'/student'}" href="#"> Students </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-lg" style="margin-top: 100px;">
            <form method="POST" th:object="${course}" th:action="@{'/course/save'}">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="course_title"> Title </label>
                            <input id="course_title" class="form-control" type="text" th:field="*{title}" required min="3" max="255">
                            <small class="text-muted">* Required, Unique.</small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="course_field"> Field </label>
                            <select id="course_field" class="custom-select form-control" th:field="*{field}">
                                <option value="" selected> Choose... </option>
                                <optgroup label="Fields">
                                    <option th:each="field : ${T(com.pablozoani.webapp.layers.model.base.FieldOfStudy).values()}" th:text="${field.toString()}" th:value="${field.name()}"> MATH </option>
                                </optgroup>
                            </select>
                            <small class="text-muted"> * Required.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="course_instructor"> Instructor </label>
                            <select id="course_instructor" class="custom-select form-control" name="instructor.id">
                                <option value=""> Choose... </option>
                                <option th:each="instructor_ : ${instructors}" th:text="${(instructor_.firstName + ' ' + instructor_.lastName)}" th:value="${instructor_.id}" th:selected="${instructor_.id.equals(course.instructor.id)}"></option>
                            </select>
                            <small class="text-muted"> * Required. </small>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="course_academy"> Academy </label>
                            <select id="course_academy" class="custom-select form-control" name="academy.id">
                                <option value=""> Choose... </option>
                                <option th:each="academy_ : ${academies}" th:text="${academy_.name}" th:value="${academy_.id}" th:selected="${academy_.id.equals(course.academy.id)}"></option>
                            </select>
                            <small class="text-muted"> * Required. </small>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary"> Save </button>
                </div>
            </form>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th> ID </th>
                            <th> Title </th>
                            <th> Instructor </th>
                            <th> Academy </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody th:if{not #lists.isEmpty(courses)}>
                        <tr th:each="course_ : ${courses}">
                            <td th:text="${course_.id}"> 1 </td>
                            <td th:text="${course_.title}"> Algorithms </td>
                            <td th:text="${course_.instructor.lastName}"> Algorithms </td>
                            <td th:text="${course_.academy.name}"> Algorithms </td>
                            <td><a th:href="@{'/course/' + ${course_.id} + '/update'}" href="#"> update </a></td>
                            <td><a th:href="@{'/course/' + ${course_.id} + '/delete'}" href="#"> delete </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container-lg">
            <span class="text-muted">&copy; 2020 Pablo Zoani</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
